<api-response [apiResponse]="notifications$" errorMessage="Erro ao carregar notificações" loadingMessage="Carregando notificações...">
  <ng-template #success let-notifications>
    <p-panel header="Centro de Notificações">
      <div class="flex justify-end">
        @if (notifications.unreadCount > 0) {
          <p-button icon="pi pi-folder-open" label="Marcar tudo como lido" (onClick)="markAllAsRead()" />
        }
      </div>

      <p-table
        [value]="notifications.data"
        [paginator]="true"
        [rows]="notifications.data.length"
        [totalRecords]="notifications.totalCount"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)"
      >
        <ng-template pTemplate="body" let-notification>
          <tr>
            <td>
              <div class="w-96">
                <notification-item [notification]="notification" />
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td>Você não tem notificações.</td>
          </tr>
        </ng-template>
      </p-table>

      <error-list [errors]="errors"></error-list>
    </p-panel>
  </ng-template>
</api-response>
