<identity-card>
  <span title>Nova Senha</span>
  <span subtitle>Digite sua nova senha</span>

  <form [formGroup]="form" (ngSubmit)="newPassword()" autocomplete="off">
    <div class="w-96">
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="password" class="text-xl">Senha</label>
          <p-password formControlName="password" styleClass="w-full" inputStyleClass="w-full" placeholder="Digite sua senha" [toggleMask]="true" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="text-xl">Confirmação de Senha</label>
          <p-password
            formControlName="confirmPassword"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="Digite a senha novamente"
            [toggleMask]="true"
            [feedback]="false"
          />
        </div>

        <div class="flex gap-2">
          <p-checkbox inputId="rememberMe" formControlName="rememberMe" [binary]="true" />
          <label for="rememberMe">Lembrar-me</label>
        </div>

        <error-list [errors]="errors" />
      </div>
      <p-button type="submit" label="Set Password" styleClass="w-full" [disabled]="!form.valid" />
    </div>
  </form>
  <div class="mt-6 flex flex-wrap gap-4">
    <a [routerLink]="'login' | route" class="ml-auto">Voltar para tela de login</a>
  </div>
</identity-card>
